body {
    margin: 0;
}

.catalogo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.text {
    flex: 1;
}

.image {
    flex: 1;
    text-align: right;
}

.image img {
    max-height: 100%;
    max-width: 100%;
    vertical-align: middle;
}
/* Estilo para las imágenes dentro de la tabla */
table[name="mitabla"] img {
    transition: transform 0.3s ease; /* Transición suave */
  }
  
  /* Aumentar el tamaño de la imagen en un 15% al pasar el cursor */
  table[name="mitabla"] img:hover {
    transform: scale(1.15); /* Aumenta el tamaño de la imagen en un 15% */
  }
  